body{
    margin: 0;
    background: url(https://picsum.photos/800/600/) center/cover no-repeat;
    height: 100vh;
    
}
nav{
    background: rgba(0,0,0,0.5);
    color:white;
    opacity: 0.5s;
}
ul{
    margin: 0;
    list-style: none;
    height: 5vh;
    text-align: right;
    text-transform: uppercase;
    padding-top: 2.5vh;
    position: relative
}
nav ul {
    list-style: none;
    color:white;
  }

  nav ul li {
    display: inline;
  }